<header class="masthead text-center text-white d-flex" style="margin-top: -30px">
    <div class="container my-auto" >
      <div class="row">
        <div class="col-lg-14 mx-auto">
          <h1 class="text-uppercase"style="margin-top: 300px;">
            <strong style="color:white; font-size: 70px">Ropa Star</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-14 mx-auto">
          <p class="text-faded mb-5" style="font-size: 25px">Somos una empresa que busca la satisfacción de sus clientes. 
            Contamos con una gran variedad en productos,
            ven y descubre la mejor ropa para caballero, 
             define tu estilo y preparate para triunfar!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#order" style="color:white">Crea tu pedido!</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-14 mx-auto text-center">
          <h2 class="section-heading text-white">Nuestro servicio en linea le ofrece la mejor calidad!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Crea tu pedido y recibelo en tu hogar</p>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-14 text-center">
          <h2 class="section-heading"> Nuestros Productos</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3">Camisas Formales</h3>
            <p class="text-muted mb-0">Calidad y servicio.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3">Pantalones Formales</h3>
            <p class="text-muted mb-0">Comodidad al andar</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
            <h3 class="mb-3">Chaquetas</h3>
            <p class="text-muted mb-0">Elegancia y variedad</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
            <h3 class="mb-3">Otros</h3>
            <p class="text-muted mb-0">Proximamente nuevos productos</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact"  style="background: gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-14 mx-auto text-center">
          <h2 class="section-heading">Contactanos!</h2>
          <hr class="my-4">
          <p class="mb-5">Descubre la mejor calidad y servicio</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p>312-789-4568</p>
        </div>
        <div class="col-lg-5 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:marketingk@ropastar.com">marketingk@ropastar.com</a>
          </p>
        </div> 
      </div>
    </div>
  </section>
